<div class="progress border w-100">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" style= "width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"> 
    	<div class="small">
		    <span class="sr-only">{{#str}}aria:courseprogress, block_myoverview{{/str}}</span>
		    <strong>{{progress}}{{#str}}myprogresspercentage, theme_ffocus{{/str}} </strong>
		</div>
    </div>
</div>
